footer {
    background-color: #6b5180;
    color: #ffae03;
    text-align: center;
}

.link-footer {
    color: #ffae03;
}

.link-footer:hover{
    color: #ffbb28;
    text-decoration: none;
}

img{
    width: 12px;
    color: #ffae03;
   
}