.navbar {
    background-color: #6b5180;
     width: 100%;
     color: #ffae03;
}
.navbar-link-div{
    display: flex;
    align-items: flex-end;
}

.navbar-text {
    color: #ffae03 !important;
    font-weight: bold;
    
}
.navbar-text:hover {
    color: #2BB5AC !important;
    text-decoration: none;
}

.navbar-link {
    color: #E2C3AA;
    margin: 8px;
    
}

.navbar-link:hover {
    text-decoration: none;
    color: #E2C3AA;
    font-weight: bold;
}

li{
    text-decoration: none;
}


@media only screen and (min-width: 760px) {
    .navbar-text {
        color: #ffae03;
        font-weight: bold;
        
    }
}